editdistance==0.5.3
gensim==3.8.1
kneed==0.5.1
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
pyonmttok==1.10.1
scikit-learn==0.22.1
matplotlib==3.1.2
hdbscan==0.8.24
python-rake==1.4.5
pytextrank==2.0.1
Jinja2==2.11.3
