<html>


<head>
    <link href="bootstrap-3.4.1-dist/css/bootstrap.css" rel="stylesheet">
    <script src="bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</head>
<body>


<div class="container-fluid">


    <h3>Report</h3>


    <table class="table table-condensed table-striped">
        <tr>
            <th>Cluster Size</th>
            <th>Patterns</th>
            <th>Key Phrases (pyTextRank)</th>
            <th>Key Phrases (RAKE)</th>
        </tr>
        {% for dict_item in values %}
            <tr>
                <td>{{ dict_item['cluster_size'] }}</td>
                <td>
                    <ul>
                        {% for item in dict_item['pattern'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in dict_item['common_phrases_pyTextRank'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for item in dict_item['common_phrases_RAKE'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>